@media (min-width: 450px) {
   .mobile-search {
      display: none;
   }
}

@media (max-width: 450px) {

   html {
      background: white !important;
   }

   #toast-container {
      top: 0 !important;
   }

   .mobile-search {
      cursor: pointer;
      display: block;
      width: 40px;
   }

   .mobile-search .fa.fa-search {
      font-size: 20px;
      padding-left: 10px;
   }

   #stockchart_card {
      border-radius: 0 !important;
      position: absolute;
      margin-top: -20px;
      box-shadow: none;
      width: 100%;
      left: 0;
      top: 0;
   }

   #stockchart_card .chart-wrapper {
      padding: 0;
   }

   #stockchart_card .chart-wrapper .card-action {
      display: flex;
      padding-top: 20px;
   }

   div.tickers.js-tickers.row {
      margin: auto;
      position: absolute;
      top: 380px;
      left: 0;
   }
}

html {
   background: #01579b;
   padding: 0;
   margin: 0;
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
	margin-top: 15px;
	/* width: 85%; */
}

div.toast {
	background: #FFA948;
}

.active {
	color: #03a9f4 !important;
}

.active-timeperiod {
	color: #03a9f4 !important;
	border-bottom: 2px solid #03a9f4 !important;
}

.underline {
	position: relative;
	box-shadow: -0.5px 0 0 #0288d1;
	opacity: 0;
	margin-left: 33px;
	height: 2px;
	width: 1px;
	background: #0288d1;
}

.topbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	background: #FFA948;
	padding: 3px 0;
	text-align: center;
	color: white;
}

.hidden {
   visibility: hidden;
   display: none;
   opacity: 0;
}


.loader svg.lds-rolling {
	position: absolute;
	left: 45%;
	top: 43%;
}

.loading {
	opacity: 0.4;
}

.chart-wrapper.card-content {
	min-height: 420.667px;
}

.chart-wrapper .card-action {
	padding-bottom: 0 !important;
}

#stockchart_card .chart-wrapper .card-action {
   justify-content: space-between;
}

button.timeperiod {
	background: white;
	color: #03a9f4;
	border: none;
	display: inline-block;
	padding-bottom: 17px;
	margin-right: 8px;
	width: 35px;
}

.timescale-options {
   display: flex;
   margin-left: auto;
   width: 180px;
}

.toggle-ticker {
   cursor: pointer;
   min-height: 80px !important;
   min-width: 250px;
}

.toggle-ticker:focus {
	color: #0288d1 !important;
	font-weight: 700;
}

.toggle-ticker .card-title {
	float: left;
	font-weight: 500;
	color: rgb(183, 196, 216);
	padding: 24px;
	width: 85%;
}

.toggle-ticker .card-content {
	padding: 0 !important;
}

.toggle-ticker .card-content .remove {
	float: right;
	height: 80px;
	padding: 24px;
	width: 10%
}

.card .card-action {
	border-top: none !important;
	border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.fa.fa-times {
	width: 0;
	height: 0;
	padding-top: 8px;
	color: #03a9f4;
	z-index: -1;
}

div .card-content {
	margin-top: 15px;
}

.domain {
	display: none !important;
}

.c3-event-rects {
	cursor: crosshair;
}

#search_bar .card-action {
	padding-bottom: 25px !important;
}

.card-action button.add-stock {
	background: white;
	transition: 0.4s !important;
	color: #81d4fa !important;
	font-weight: 600;
	padding: 8px 17px;
	border-radius: 2px;
	border: 2px solid #81d4fa;
}

.card-action button.add-stock:hover {
	transition: 0.4s !important;
	color: #0288d1 !important;
	border: 2px solid #0288d1;
}

.mobile-clickarea {
   position: absolute;
   cursor: pointer;
   opacity: 0.5;
   transition: 0.5s;
   background: black;
   z-index: 89;
   padding: 0;
   margin: 0;
   height: 2500px;
   width: 100%;
   left: 0;
   top: 0;
}

.positioned-mobile-search {
   position: absolute;
   margin-top: 42px;
   opacity: 0.9;
   z-index: 99;
   width: 100%;
   left: 0;
   top: 0;
}

